# .gitignore
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.log
*.sqlite3
.DS_Store
.idea/
.vscode/

# Ignore certificate files
*.pem
*.crt
*.key

# Ignore common dataset files
*.csv
*.tsv
*.jsonl
*.xlsx
*.xls
*.parquet
*.feather
*.h5
*.hdf5
*.zip
*.tar
*.tar.gz
*.7z
*.npz
*.npy
*.sav
*.pkl
*.pickle
*.db
*.sqlite
*.mdb
*.accdb
